@import '../../common/styles/scss/variables';
@import '../../common/styles/scss/mixin';

.card {
    max-width: 350px;
    background-color: $grey-100;
    max-height: 420px;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow: hidden;

    &:hover .image::before {
        opacity: 0;
    }

    .image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: inherit;
        min-width: 350px;
        min-height: 250px;
        margin-bottom: 15px;
        border-radius: 10px 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            background-color: $blue-900;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.4;
            transition: opacity 0.3s;
        }

        .link {
            @include f ($Rubik, 400, 16px, 2.5);
            z-index: 1;
            overflow: hidden;            
            min-width: 210px;
            border: 1px solid $white;
            border-radius: 3px;
            background-color: $grey-100;
            color: $blue-900;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: $blue-600;
            }

            &:active {
                background-color: $blue-100;
            }
			
			& a {
				display: block;
			}
        }
    }

    .theme {
        @include f ($Rubik, 500, 24px, 1.3);
        margin-bottom: 10px;
        text-align: start;
        padding: 0 20px;
    }

    .description {
        @include f ($Rubik, 400, 18px, 1.3);
        padding: 0 20px 20px;
        text-align: justify;
    }
}