.contact {
    background-color: #010032;
    padding-bottom: 50px;
}

/* .info {} */

.form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #010032;
    padding-bottom: 16px;
    margin-bottom: 32px;
    outline: 0;
}

.input:focus {
    border-color: #4543e8;
}

.input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.msg {
    resize: none;
    height: 175px;
}

.msg::-webkit-input-placeholder {
    max-width: 45%;
    padding-top: 5%;
}

.msg:focus::-webkit-input-placeholder {
    color: #4543e8;
}

.btn {
    font-size: 18px;
    font-weight: 400;
    /* text-transform: uppercase; */
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px;
    max-width: 350px;
    padding: 5px 24px;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4543e8;

}