.button {
    margin: 10px;
    overflow: hidden;
    padding: 5px 24px;
    border: none;
    border: 1px solid #fff;
    border-radius: 3px;

    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.button:disabled {
    cursor: default;
}

.disabled {
    color: #002e5c;
    background-color: #004d99;
    opacity: 0.5;
}

.secondary {
    color: #d8d8eb;
    background-color: transparent;
    transition: background-color 0.3s;
}

.secondary:hover {
    background-color: #4543e8;
}

.secondary:active {
    background-color: #c9e5ff;
    color: #010032;
}

.default {
    background-color: #0066cc;
}

.default:hover {
    background-color: #0080ff;
}

.default:active {
    background-color: #0059b3;
}

.view {
    background-color: #4543e8;
    transition: background-color 0.3s;
}

.view:hover {
    background-color: #010032;
}

.view:active {
    background-color: #d8d8eb;
}

/* #4543e8 */
/* #1a1a3c */