[data-theme='1'] {
  --color: #d8d8eb;
  --background: #010032;
}

[data-theme='2'] {
  --color: #212A34;
  --background: #DDEEFF;
}

[data-theme='3'] {
  --color: #010032;
  --background: #DDEEFF;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* background-color: var(--background);
  color: var(--color); */
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}